<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>

<body>
    <h2>Edit Post </h2>
    <p>Post Id : <%= post.id %>
    </p>
    <p>username : @<%= post.username %>
    </p>
    <form method="post" action="/posts/<%= post.id%>?_method=PATCH">
        <br>
        <textarea name="content" rows="10" cols="40"><%= post.content %></textarea>
        <br><br><br>
        <button>Submit </button>
    </form>

</body>

</html>