 .container {
     height: 70vh;
     display: flex;
     align-items: end;
     position: relative;
     width: 70vw;
     background-color: aquamarine;
 }

 .ball {
     height: 50PX;
     width: 50px;
     position: relative;
     background-color: white;
     border-radius: 150PX;
     animation: bouncoing_ball 10s linear 1 forwards;

 }

 @keyframes bouncoing_ball {
     0% {
         transform: translateX(0px) translate(0px);
     }

     12.5% {
         transform: translateX(70px) translateY(-100px);

     }

     25% {
         transform: translateX(200px) translateY(-200px);
     }

     37.5% {
         transform: translateX(300px) translateY(-100px);

     }

     50% {
         transform: translateX(400px) translateY(0px);
     }

     62.5% {
         transform: translateX(500px) translateY(-100px);

     }

     75% {
         transform: translateX(600px) translateY(-200px);
     }

     87.5% {
         transform: translateX(700px) translateY(-100px);

     }

     100% {
         transform: translateX(800px) translateY(0px);
     }

 }