<%- include("include/head.ejs") %>

    <body>
        <h1> @<%= username %> user Account not found...</h1>
        <h3>Please try with valid username......!</h3>
        <%- include("include/footer.ejs") %>

    </body>