button{
    /* padding:10px; */
    font-size:20px;
    background-color:teal;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: darkcyan;
    }

}