.container {
    display: grid;
    height: fit-content;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: 100px;
}

.item {
    border: 2px;
    margin: 2px;
}

.nav {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: 10px;
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}

.nav img {
    width: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
}

.nav ul li {
    display: flex;
    align-content: center;

}

.nav ul li img {
    height: 17px;
}

.logo {
    height: 40px;
}

.links {
    display: grid;
    margin: 2px;
    padding: 5px;
    padding-bottom: 35px;
    /* margin-bottom: ; */
    background-color: rgb(240, 240, 240);
    justify-content: center;

}

.main {
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.but1 {
    border: none;
    color: white;
    background-color: rgb(9, 110, 173);
    height: 35px;
    width: 150px;
}

.but2 {
    border: none;
    color: white;
    background-color: rgb(6, 134, 6);
    height: 35px;
    width: 150px;
}

.but1:hover {
    color: black;
    opacity: 0.5;
    cursor: pointer;
}

.but2:hover {
    color: black;
    opacity: 0.5;
    cursor: pointer;
}


.links p {
    font-size: x-large;
    justify-self: center;
    align-self: center;
}



@media screen and (max-width:455px) {
    .main {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .nav {
        flex-direction: column;
        row-gap: 30px;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 10px;
    }

    .but1 {
        margin-top: 10px;
        margin-bottom: 5px;
        align-self: center;
    }

    .but2 {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/3;
    /* gap: 10px; */
}

.info ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    

}

.info> p {
    font-size: 60px;
    font-weight: 10px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info ul img {
    /* padding-bottom: 13px; */
    height: 70px;
    width: 70px;
    margin-top: -15px;
}
li p {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}