main {
    background-color: rgb(206, 191, 206);
}

h1,
h2 {
    color: black;
    text-align: center;
}

* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    border-radius: 20px;
    background-color: grey;
    height: fit-content;
    padding-top: 10px;
    font-size: large;
    height: 70px;
}

footer {

    /* border: 10px solid white ; */
    border-radius: 100px;
    text-align: center;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 20px;
    background-color: grey;
}